<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

  <title> Nous sommes Bondy </title>

  <!-- Bootstrap core CSS -->
  <link href="../../dist/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="jumbotron.css" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy this line! -->
  <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
    </head>

    <body>

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="image col-md-offset-3 col-md-9 col-xs-offset-3 col-xs-9">
              <div class="thumbnail text-center image-head"><%= image_tag "mairiefatou.png" %></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="thumbnail head text-center">
                <p class="text-img text-center">« À Bondy, l’élection municipale ne doit pas être un affrontement entre la gauche et la droite.</br> Ma priorité : tous les bondynois. Nous sommes Bondy » Fatou Meite</p>
                <a class="btn btn-primary btn-head" <%= link_to "Notre Appel", programme_path %> </a>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-3 col-xs-12 listen">
            <h3>A votre écoute !</h3>
            <div class="thumbnail"><%= image_tag "NSB5.JPG" %></div>
            <p>Nous sommes Bondy est une liste citoyenne independante et sans étiquette candidate à l’élection municipale des 23 et 30 mars 2014. La tête de liste est Fatou Meïte, Conseillère municipale</br>...</p>
            <a class="btn btn-primary" <%= link_to "Exprimez-vous", parole_path %></p></a>
          </div>
          <div class="col-md-3 col-xs-12 program">
            <h3>Programme</h3>
            <div class="thumbnail"><%= image_tag "NSB4.JPG" %></div>
            <p>Transparence et bonne gouvernance</br>
              - Création d'un « comité de transparence » composé d’élus et de citoyens en charge de veiller à la bonne gouvernance de la municipalité...</p>
              <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                La suite
              </button>
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel">Le programme</h4>
                    </div>
                    <div class="modal-body">
                      <h3>Transparence et bonne gouvernance</h3></br>

                      - Création d'un « comité de transparence » composé d’élus et de citoyens en charge de
                      veiller à la bonne gouvernance de la municipalité ; ainsi qu’à l’équité dans les
                      modalités d’attribution des places en crèche, des logements, des emplois
                      municipaux, des subventions aux associations et des appels d’offres

                      <h3>Démocratie participative</h3></br>

                      - Création d'une plateforme numérique dédiée à faire vivre la démocratie

                      <h3>Logement</h3>
                    </br>
                    - Mise en place du « scoring anonyme » dans l’attribution des logements
                  </br>
                  - Soutenir de façon plus visible les habitants et les Amicales de locataires
                </br>
                <h3>Education</h3>
              </br>
              - Lutte pour la réussite scolaire; intervention de modèle de réussite et création
              d'un « référent de la réussite éducatif »</br>
              - Tester l’uniforme en maternelle et à l’école primaire
            </br>
            <h3>Développement durable</h3></br>

            - Renforcer la sensibilisation au tri sélectif des déchets et à l’utilisation des
            conteneurs</br>

            <h3>Économie et emploi</h3></br>

            - Favoriser l’embauche de candidats locaux dans les entreprises bondynoises</br>

            <h3>Sécurité</h3></br>

            - Mise en place de la prévention parentale participative : discussions, prévention</br>

            <h3>Culture</h3></br>

            - Elargir les amplitudes d’ouverture des bibliothèques</br>

            - Soutenir la création d’une chaîne de télévision locale</br>

            <h3>Jeunesse / Enfance</h3></br>

            - Accompagner et soutenir systématiquement la création d’entreprise des jeunes
            porteurs de projet</br>

            <h3>Solidarité</h3></br>

            - Restauration gratuite dans les écoles maternelles et primaires (existe déjà dans
            plusieurs villes de France)</br>

            <h3>Sports et loisirs</h3></br>

            - Création d’un pôle d’éducation par le sport</br>

            - Installer trois sites de street workout : à Bondy nord, Bondy centre, Bondy sud</br>

            <h3>Indemnités d’élus</h3></br>

            - Revoir à la baisse le montant des indemnités d’élus</br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-xs-12 team">
    <h3>L'équipe</h3>
    <div class="thumbnail"><%= image_tag "PPV3.png" %></div>
    <p>Nous sommes des bondynois et nous nous retrouvons aujourd’hui autour d’un projet commun.</br> 
      Nous avons vu Bondy dépérir mais nous n’avons jamais perdu espoir convaincus que nous pouvons donner un nouveau souffle à notre ville.</p>
      <a class="btn btn-primary" <%= link_to "Faisons connaissance", presentation_path %></p></a>
    </div>
  </div>

  <hr>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
  </html>
