<div class="panel panel-default">
  <div class="panel-body">

<h3>Transparence et bonne gouvernance</h3></br>

- Création d'un « comité de transparence » composé d’élus et de citoyens en charge de
veiller à la bonne gouvernance de la municipalité ; ainsi qu’à l’équité dans les
modalités d’attribution des places en crèche, des logements, des emplois
municipaux, des subventions aux associations et des appels d’offres

<h3>Démocratie participative</h3></br>

- Création d'une plateforme numérique dédiée à faire vivre la démocratie

<h3>Logement</h3>
</br>
- Mise en place du « scoring anonyme » dans l’attribution des logements
</br>
- Soutenir de façon plus visible les habitants et les Amicales de locataires
</br>
<h3>Education</h3>
</br>
- Lutte pour la réussite scolaire; intervention de modèle de réussite et création
d'un « référent de la réussite éducatif »</br>
- Tester l’uniforme en maternelle et à l’école primaire
</br>
<h3>Développement durable</h3></br>

- Renforcer la sensibilisation au tri sélectif des déchets et à l’utilisation des
conteneurs</br>

<h3>Économie et emploi</h3></br>

- Favoriser l’embauche de candidats locaux dans les entreprises bondynoises</br>

<h3>Sécurité</h3></br>

- Mise en place de la prévention parentale participative : discussions, prévention</br>

<h3>Culture</h3></br>
 
- Elargir les amplitudes d’ouverture des bibliothèques</br>

- Soutenir la création d’une chaîne de télévision locale</br>

<h3>Jeunesse / Enfance</h3></br>

- Accompagner et soutenir systématiquement la création d’entreprise des jeunes
porteurs de projet</br>

<h3>Solidarité</h3></br>

- Restauration gratuite dans les écoles maternelles et primaires (existe déjà dans
plusieurs villes de France)</br>

<h3>Sports et loisirs</h3></br>

- Création d’un pôle d’éducation par le sport</br>

- Installer trois sites de street workout : à Bondy nord, Bondy centre, Bondy sud</br>

<h3>Indemnités d’élus</h3></br>

- Revoir à la baisse le montant des indemnités d’élus</br>

<div class="thumbnail">
  <%= image_tag "affiche2.jpg" %>
</div>