<div class="panel panel-default">
  <div class="panel-body">
   
<p>
Nous sommes Bondy est une liste citoyenne independante et sans étiquette candidate à l’élection municipale des 23 et 30 mars 2014. La tête de liste est Fatou Meïte Conseillère municipale Mouvement Emergence.</br>
Nous sommes Bondy est une union de bondynois souhaitant être force de proposition en impulsant sur les decisions prises pour notre ville. Nous sommes conscients que l’échiquié politique français ne dispose pas d’une offre politique adaptée à nos aspirations au regard notamment du clivage gauche-droite qui ne fait plus sens aujourd’hui.</br> 
La capacité à prendre des décisions n’est pas subordonnée à l’adhesion à un parti politique. Etant tous sans étiquette nous aspirons à participer pleinenement à la vie politique de Bondy en nous focalisant sur le niveau local.
Nous sommes donc à la disposition des bondynois. Faites nous remonter vos griefs, vos observations et vos questions. Nous sommes à votre écoute.</br>


 <h2>Nous sommes Bondy» est connecté !</h2></br>

Rejoignez nous et n’hésitez pas à nous faire part de vos remarques et/ou vos idées, message de soutiens.</br>
</br>
<span class="glyphicon glyphicon-envelope"></span>
sigmabondy@gmail.com,</br> 
</br>
 <%= image_tag "accueil.png" %> </br>
</br>
sur twitter :@bondy2014  ,</br>
ou sur la page facebook du collectif : Nous sommes bondy</br> 
<span class="glyphicon glyphicon-earphone"></span> 07 82 14 71 72 </br> 

<span class="contact-nsb"> Nous sommes Tous Bondy !</span></p> 

  </div>
</div>
