<div class="panel panel-default">
  <div class="panel-body">
   
<p>« Nous sommes Bondy» est connecté !</br>

Rejoignez nous et n’hésitez pas à nous faire part de vos remarques et/ou vos idées, message de soutiens.</br>
</br>
<span class="glyphicon glyphicon-envelope"></span>
sigmabondy@gmail.com,</br> 
</br>
 <%= image_tag "reseaux.jpg" %> </br>
</br>
sur twitter :@bondy2014  ,</br>
ou sur la page facebook du collectif : Nous sommes bondy</br> 
<span class="glyphicon glyphicon-earphone"></span> 07 82 14 71 72 </br> 

<span class="contact-nsb"> Nous sommes Tous Bondy !</span></p> 

  </div>
</div>