<div class="panel panel-default">
  <div class="panel-body">
<p>Nous sommes des bondynois et nous nous retrouvons aujourd’hui autour d’un projet commun.</br> 
</br>
Nous avons vu Bondy dépérir mais nous n’avons jamais perdu espoir convaincus que nous pouvons donner un nouveau souffle à notre ville.
Un souffle qui rassemblera un souffle qui rénovera un souffle qui offrira une nouvelle donne à notre ville.</br>
</br>
Nous nous retrouvons aujourd’hui dans un mouvement citoyens indépendant avec nos différences car nous sommes habités par la même urgence celles d’agir pour TOUS les Bondynois.</br>
</br>
Dans cette démarche, sous sommes acteurs et témoins. 
Acteurs, car nous souhaitons porter notre engagement plus loin, pour ressusciter Bondy.</br>
</br>
Témoins, en ce que nous savons que les bondynois sont capables de l’impossible pour leur ville et leurs concitoyens.
Forts de la conviction qu’est venu le temps d’utiliser l’énergie formidable des bondynois pour la mettre au service de Bondy, nous souhaitons porter haut et fort les valeurs au travers d’un mouvement appelle à unir les Bondynois.</br>
</br>
Nous nous engageons parce que nous aimons Bondy parce que nous croyons en Bondy et parce que nous sommes Bondy.</p>
<div class="thumbnail">
	<%= image_tag "NSB6.JPG" %>
</div>
  </div>
</div>