<div class="panel panel-default">
  <div class="panel-body">
  <h2>ÉLECTIONS MUNICIPALES ET COMMUNAUTAIRES DES 23 ET 30 MARS</h2></br>
</br>
  <p>« À Bondy, l’élection municipale ne doit pas être un affrontement entre la gauche et
  la droite. Ma priorité tous les bondynois. 100% indépendants, unis, indivisibles :
  Bondy nord, Bondy centre, Bondy sud »</br>
  </br>
  Bondynois, Bondynoises,
  Nous partageons vos inquiétudes et tout comme vous, nous nous interrogeons sur le manque d’ambitionde notre ville. Nous avons grandi à Bondy et nous nous y projetons dans l’avenir.
  </br> 
  Nous sommes profondément attachés à notre ville, notre patrimoine et nos histoires.
  La liste NOUS SOMMES BONDY est une liste citoyenne indépendante sans étiquette politique  composée de bondynois engagés pour le progrès.</br> À ceux qui d’ores et déjà connaissent notre intégrité, je vous invite à vous mobiliser, à en parler dans vos quartiers et à soutenir la dynamique autour de notre initiative citoyenne.</p>

  <div class="well well-lg text-center">
  	<div class="thumbnail"> <%= image_tag "fm2.png" %> </div>
  	<h3>Mobilisez-vous les dimanches 23 et 30 mars 2014</h3>
    Rendez-vous en masse dans vos bureaux de vote
    Votez Fatou Meïte,
    tête de liste Nous sommes Bondy

    <h4>Pensons à l’avenir de notre ville, ensemble, car Nous sommes Bondy</h4>
  </div>
  </div>
</div>