<div class="panel panel-default">
  <div class="panel-body">
   <p>Bondynois, Bondynoises,</br>

En mars prochain, vous aurez à élire un nouveau Maire.
Du résultat de l’élection municipale dépendra l’avenir de notre commune pour les six années à venir.</br>
</br>
Tout au long de ces derniers mois, vous êtes nombreux à m’avoir interpellé et à m’avoir fait part de vos remarques et suggestions. Partout à Bondy, dans chaque quartier que compte notre ville, une attente de VERITABLE CHANGEMENT se fait entendre. 
Un VERITABLE CHANGEMENT rendu nécessaire au regard de la manière dont est administrée notre commune.</br>
</br>
Nous partageons vos inquiétudes et tout comme vous, nous nous  interrogeons sur le manque de dynamisme de notre ville.
Le manque d’implication des élus est flagrant. Ils sont absents de nos problèmes quotidiens ne venant s’en soucier qu’a l’approche d’une échéance électorale, attisant au passage les clivages gauche droite qui aujourd’hui sont dénués de sens.</br>
</br>
Nous avons grandis à Bondy et nous nous y projetons dans l’avenir. 
Nous sommes profondément attaché à notre ville, notre patrimoine et nos histoires.</br>
</br>
Mes six dernières années passées en tant que conseillère municipale d’abord au sein de la majorité municipale (PS) puis en tant que conseillère municipale d’un mouvement politique indépendant le Mouvement Emergence, m’ont ouvert les yeux sur la mascarade de démocratie locale à Bondy. 
</br>
D’ou la volonté d’encourager la dynamique citoyenne indépendante Bondynoise à travers la liste NOUS SOMMES BONDY, sans étiquette.   L’équipe n’aura pas de couleur politique et sera composée de femmes et d’hommes ayant montré des compétences indispensables à la gestion d’une commune.</br>

Nous aurons l’occasion de vous rencontrez ou de vous revoir:</br>

- Le 1er Mars pour un grand concert «Nous sommes Bondy» à la salle des fêtes</br> 

A ceux qui d’ores et déjà connaissent notre intégrité, je vous invite à vous mobiliser, à en parler, dans vos quartiers, et à soutenir la dynamique autour de notre initiative citoyenne.</br>

Pensons à l’avenir de notre ville, </br>
ensemble car « Nous sommes Bondy » </br>

Fidèlement,</br>
La liste Nous sommes Bondy

<div class="thumbnail">
	<%= image_tag "Photogroupe2.png" %>
</div>
  </div>
</div>