/* Move down content because we have a fixed navbar that is 50px tall */
body {
	margin-top: 0px;
}

.navbar {
	background-color: rgba(168,2,255,0.8);
	color: white;
	margin-bottom: 0px;
}

.titre {
	font-family: 'Voces', cursive;
}

.h4 {
	color: white !important;
}

.text-img {
	font-family: 'Sail', cursive;
}

.titre-nav {
	margin-left: 280px;
	font-size: 35px;
	color: white !important;
}

.titre-footer {
	margin-left: 170px;
}

.navbar-brand {
	color: white !important;
	padding-bottom: 10px;
	text-align: center;																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									
}

.btn-primary {
	background-color: #8A078A;
}

.head {
	background-color: rgba(0,0,0,0.8);
}

.image-head {
	width: 70%;
	margin-top: 0px;
	border: orange !important;
}

.btn-primary:hover {
	background-color: #C20AC2;
}

.btn-success {
	background-color: #8A078A;
}

.btn-success:hover {
	background-color: #C20AC2;
}

.btn-default {
	background-color: #8A078A;
	color: white;
}

.btn-default:hover {
	background-color: #C20AC2;
}

.listen {
	border-style: solid;
	border-width: 2px;
	border-color: orange;
	border-radius: 10px;
	margin-right: 20px;
	color: rgb(0,0,0);
}

.program {
	border-style: solid;
	border-width: 2px;
	border-color: orange;
	border-radius: 10px;
	margin-left: 100px;
	color: rgb(0,0,0);
}

.team {
	border-style: solid;
	border-width: 2px;
	border-color: orange;
	border-radius: 10px;
	margin-left: 120px;
	color: rgb(0,0,0);
}

.jumbotron {
	background-color: rgba(0,0,0,0.8);
	left: -100px; 
	border-bottom-width: 10px !important;
	border-bottom-style: solid;
	color: white;
}

.glyphicon {
	color: #FF770C !important; 
}

.contact-nsb {
	margin-left: 300px;
	font-size: 20px;
}

/* programme */

.panel-default {
	background-color: rgba(0,0,0,0.8);
	margin-top: 90px;
	margin-left: 50px;
	margin-right: 50px;
	padding: 10px;
	color: white;
}

.modal-body {
	font-family: 'Voces', cursive;
	background-color: rgb(255,128,13);
	color: black;
}